Source: named-regexp
Section: java
Priority: optional
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Uploaders: Yadickson Soto <yadickson@gmail.com>
Build-Depends: debhelper (>= 9), cdbs, default-jdk, maven-debian-helper (>= 1.5)
Standards-Version: 3.9.6
Homepage: https://github.com/tony19/named-regexp

Package: libnamed-regexp-java
Architecture: all
Depends: ${misc:Depends}, ${maven:Depends}
Suggests: ${maven:OptionalDepends}
Description: Named capture groups for Java regular expressions
 This lightweight library adds support for named capture groups in Java 5/6 (and on Android).

